%button {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
}

.m-button {
  @extend %button;
}

.m-button--danger {
  @extend %button;
  background: $brand;
  color: $white;
}

.m-button--success {
  @extend %button;
  background: $success;
  color: $white;
}